/* font-family: 'Bree Serif', serif;
font-family: 'Poppins', sans-serif; */

/* Navbar */

.text-font {
    font-family: 'Bree Serif', serif;
}


/* Block Dividers */

.divider {
    height: 3px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e5e5e5;
}

/* Main Content */

#background-image {
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.main-content {
    width: 100vw;
    height: 100vh;

}



.bg-img-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.bg-img-text h1 {
    font-family: 'Bree Serif', serif;
    color: #fff
}

.bg-img-text p {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

/* Jumbotron */


.jumbotron p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.title-color {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
}

.jumbo-height {
    height: 40%;
}

/* Map */

iframe{
    height: 50vh;
    width: 100vw;
}
